@import "reset";


.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  background: white;
}

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
  background: lightgrey;
}

a {
  color: #800000;
}

p {
  margin-bottom: 1.1em;
}

h1 {
  font-size: 24px;
  width: 150px;
  height: 50px;
  position: relative;
  left: 50%;
  font-weight: bold;
  text-align: center;
}

.content {
  padding: 20px 0;
  font-size: 0;
}


.main {
  width: 65%;
  margin-right: 5%;
  font-size: 16px;

.side {
  display: inline-block;
  vertical-align: top;
  }
}

.side {
  width: 30%;
  color: #666;
  font-size: 14px;
}
header{
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: peachpuff;

  .logos{
    position: absolute;
    top: 0;
    right: 20px;
    margin: 10px;
  }
  nav{
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
  }
}
.pure-u-1-2 div{
  margin: 5%;
  width: 50%;
  display: inline-block;
}
img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  transition: all 500ms linear;

  &:hover{
  border-radius: 0;
  }
}
